body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    background-color: #1c1c1c;
    color: white;
}

header {
    padding: 20px;
    background: #333;
}

header input {
    padding: 10px;
    width: 200px;
}

.movies-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
}

.movie {
    margin: 15px;
    cursor: pointer;
}

.movie img {
    width: 200px;
    height: 300px;
    border-radius: 10px;
}

.player-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

video {
    width: 80%;
    max-width: 800px;
}

.download-btn, .close-btn {
    margin-top: 10px;
    padding: 10px;
    background: red;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.download-btn {
    background: green;
}
.live-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
}

.live {
    margin: 15px;
    cursor: pointer;
}

.live img {
    width: 200px;
    height: 300px;
    border-radius: 10px;
}

h2 {
    text-align: center;
}
